<app-header>

</app-header>
<div class="container  " style="padding-top: 60px;">
  <h1 class="page-header"  class="col-md-8 offset-md-4">{{'login' | translate}}</h1>
  <div class="row">


<div class="container my-5 ">
        <div class="col-md-4 offset-md-4">
          <div class="alert alert-{{class}}" role="alert" *ngIf="!isHidden" >
            {{message}}
          </div>
          </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group" >
        <div class="col-md-4 offset-md-4">
          <label for="email" >{{'email' | translate}} </label>
          <input type="email" name="email" formControlName="email" class="form-control" id="ex1"  aria-describedby="emailHelp">
          <div *ngIf="email.touched && email.invalid">
             <small *ngIf="email.errors.required" class="text-danger">{{'emailError1' | translate}}<br></small>
              <small *ngIf="email.errors.pattern" class="text-danger">{{'emailError2' | translate}}<br></small>


          </div>
</div>
      </div>
      <div class="form-group">
        <div class="col-md-4 offset-md-4">
          <label for="password">{{'password' | translate}}</label>
          <input type="password" name="password" formControlName="password" class="form-control" id="exampleInputPassword1" >
          <div *ngIf="password.touched && password.invalid">
              <small *ngIf="password.errors.required" class="text-danger">{{'passwordError1' | translate}}<br></small>
              <small  *ngIf="password.errors.minlength" class="text-danger">{{'passwordError2' | translate}}</small>
          </div>
          </div>
      </div>
      <br/>
      <div class="col-md-8 offset-md-4">
      <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">{{'login' | translate}}</button>
    </div>
  </form>
</div>
</div>
</div>

<app-footer>

</app-footer>
